version: "3.8"

services:
    sonarqube:
        image: sonarqube:community
        container_name: rentacar-sonarqube
        ports:
            - "9000:9000"
        environment:
            - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
            - SONAR_JDBC_USERNAME=sonar
            - SONAR_JDBC_PASSWORD=sonar
        volumes:
            - sonarqube_data:/opt/sonarqube/data
            - sonarqube_extensions:/opt/sonarqube/extensions
            - sonarqube_logs:/opt/sonarqube/logs
        depends_on:
            - db
        networks:
            - rentacar-net

    db:
        image: postgres:15
        container_name: rentacar-sonar-db
        environment:
            - POSTGRES_USER=sonar
            - POSTGRES_PASSWORD=sonar
            - POSTGRES_DB=sonar
        volumes:
            - postgresql_data:/var/lib/postgresql/data
        networks:
            - rentacar-net

networks:
    rentacar-net:
        driver: bridge

volumes:
    sonarqube_data:
    sonarqube_extensions:
    sonarqube_logs:
    postgresql_data:
