name: Backend Tests

on:
    push:
        branches: ["*"]
    pull_request:
        branches: ["*"]
    workflow_dispatch:

jobs:
    backend-unit-tests:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: ConcertComparison/backend

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Run Unit Tests
              run: mvn test
