name: Backend Build

on:
    push:
        branches: ["*"]
    pull_request:
        branches: ["*"]
    workflow_dispatch:

jobs:
    backend-build:
        runs-on: ubuntu-latest

        defaults:
            run:
                working-directory: RentACar/backend

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                  java-version: "21"
                  distribution: "temurin"
                  cache: maven

            - name: Build with Maven
              run: mvn clean compile -DskipTests

            - name: Package Application
              run: mvn package -DskipTests
